@use '../../colors';

.root {
  display: flex;
  flex-direction: column;
  background-color: colors.$gray-primary;
  width: 260px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px colors.$gray-secondary;

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    .listItem {
      margin-left: 20px;
      padding: 10px;
      font-size: 24px;
      font-weight: 500;
      transition: .2s;

      a {
        text-decoration: none;
        color: #f0efeb;
        cursor: pointer;

        &:hover {
          color: #1f1e1e;
        }
      }
      
    }
  }
}