@use '../../colors';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: colors.$gray-primary;
  box-shadow: 0px 0px 3px 2px colors.$gray-secondary;
  border-radius: 10px;
}