@use "../../colors.scss";
@use "../../mixins.scss";

.root {
  @include mixins.centerColumnFlex(center);
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }

  .table {
    background-color: colors.$white;
    height: 65%;
    width: 80%;
    margin: 0px 30px;
    padding: 10px;
    border-radius: 10px;
  }

  .button {
    background-color: colors.$light-yellow;
    color: black;

    &:hover {
      background-color: colors.$dark-yellow;
    }
  }
}