@use "./colors.scss";

.App {
  background-color: colors.$light-yellow;
  min-height: 100vh;
  color: colors.$light-yellow;

  .content {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    margin: 60px 80px;
    gap: 20px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}